
body
{
    background-color:#fff;
}
.main { 
	background-color: #fff; 
	border-radius: 15px; 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
	padding: 10px 20px; 
	transition: transform 0.2s; 
	width: 80%; 
    margin-top: 70px;
    margin-left: 10%;
	text-align: center; 
    justify-content: center;
    background-color:#fff;

} 


label { 
	display: block; 
	width: 100%; 
	margin-top: 10px; 
	margin-bottom: 5px; 
	text-align: left; 
	color: #555; 
	font-weight: bold; 
} 

#pass { 
	color: red; 
	font-size: 12px; 
} 

input { 
	display: block; 
	width: 100%; 
	margin-bottom: 15px; 
	padding: 10px; 
	box-sizing: border-box; 
	border: 1px solid #ddd; 
    border: none;
    border-bottom: 2px solid black;
} 

select { 
	display: block; 
	width: 100%; 
	margin-bottom: 15px; 
	padding: 10px; 
	box-sizing: border-box; 
	border: 1px solid #ddd; 
	border-radius: 5px; 
} 

button { 
	padding: 15px; 
	border-radius: 30px; 
	margin-top: 15px; 
	margin-bottom: 15px; 
	border: none; 
	color: white; 
	cursor: pointer; 
	background-color: rgb(46, 46, 43); 
	width: 20%; 
	font-size: 16px; 
} 

image
{
    width: 100%;
}